body {
    background-color: lightblue;
    font-family: arial;
}

.title {
    font-weight: bold;
}

hr {
    border: 5px solid midnightblue;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    border: 2px solid midnightblue;
    background-color: lightgrey;
}

select {
    border-radius: 5px;
    background-color: lightgrey;
}

input:focus {
    border: black;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 5px;
    text-align: left;
}

tr:hover{
    background-color: white;
    color: black;
}
tr:hover a{
    color: black;
}

.table-hover {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    color: black;
}

.table-hover a {
    color: black;
}

.vote {
    padding: 5px;
}

.vote-button {
    border-radius: 5px;
    border: 2px solid midnightblue;
    background-color: lightgrey;
    padding: 5px;
    color: black;
}

.vote input {
    color: black;
}

.votes {
    font-weight: bold;
}

:link { color: #0000EE; }
:visited { color: #551A8B; }
