<div class="paper-row">
  <div class="paper-meta" style="flex:0 0 140px; max-width:140px;">
    {% if showsub %}
      <div><a href="{{ url_for('main.user', username=paper.subber.username) }}">{{ paper.subber.firstname }}</a></div>
      {% if paper.volunteer and paper.volunteer.firstname %}
        <div>&#8594; <a href="{{ url_for('main.user', username=paper.volunteer.username) }}">{{ paper.volunteer.firstname }}</a></div>
      {% elif paper.vol_later and paper.vol_later.firstname %}
        <div>&#8594; <a href="{{ url_for('main.user', username=paper.vol_later.username) }}">{{ paper.vol_later.firstname }} (later)</a></div>
      {% endif %}
    {% endif %}
  </div>
  <div class="paper-body">
    <div class="paper-title title">{{ paper.title }}</div>
    <div class="paper-authors">{{ paper.authors }}</div>
    <div class="paper-links">
      <a href='{{ paper.link }}' target='_blank'>{{ paper.link }}</a>
      {% if paper.pdf_url is not none %}
        <div><a href='{{ paper.pdf_url }}' target='_blank'>{{ paper.pdf_url }}</a></div>
      {% endif %}
    </div>
  <div class="paper-abstract">{{ paper.abstract }}</div>
    {% if showsub and paper.comments %}
      <div class='comment'><strong>Comments:</strong>
        {% for comment in paper.comments %}
          {% include 'main/_comment.html' with context %}
        {% endfor %}
      </div>
    {% endif %}
    {% if showvote %}
      <div class='votes'>{{ paper.score_n }}/{{ paper.score_d }} votes.</div>
    {% endif %}
  </div>
</div>
