{% extends 'base.html' %}

{% block app_content %}
<div class="card">
	{% include 'main/_paper.html' %}
</div>
<div class="card">
	<form action="" method="post" enctype="multipart/form-data" style="max-width:820px;">
		{{ form.hidden_tag() }}
		<div>
			{{ form.comment.label }}<br>
			{{ form.comment(rows=5, style="width:100%;") }}
		</div>
		<div style="margin-top:8px;">
			<label>Allowed filetypes: jpg, png, gif, pdf</label><br>
			{{ form.file(accept='image/*,application/pdf') }}
		</div>
		<div style="margin-top:10px;">{{ form.submit() }}</div>
	</form>
</div>
{% endblock %}
