{% extends 'base.html' %}

{% block app_content %}
  <!-- <h1>Summary</h1> -->
  <div class="columns" style="display:grid;grid-template-columns:33% 33% 33%">
    <div class="column">
  <h2>Volunteers (now): </h2>
  <p>
  {% for nctuple in summary_v %}
    {{nctuple[0]}}: {{nctuple[1]}}<br>
  {% endfor %}
  </p>
  </div>
  <div class="column">
  <h2>Volunteers (later): </h2>
  <p>
    {% for nctuple in summary_vl %}
      {{nctuple[0]}}: {{nctuple[1]}}<br>
    {% endfor %}
  </p>
  </div>
  <div class="column">
  <h2>Without volunteers: </h2>
  <p>
    {% for nctuple in summary_nv %}
      {{nctuple[0]}}: {{nctuple[1]}}<br>
    {% endfor %}
  </p>
  </div>
  </div>
  <h1>Vote</h1>
  <form action='' method='post'>
    {% for j in range(voteforms|length) %}
      {% set i = voteforms[j] %}
      {% set paper = i[0] %}
      <div id='{{ paper.id }}'></div>
      {% include 'main/_paper.html' %}
      {{ i[1].hidden_tag() }}
      <div class='vote' id="vote-form-{{ j }}">
	Vote: {{ i[1].vote_num(size=1, class_="vote-num") }} / {{ i[1].vote_den(size=1, class_="vote-den") }}
          <button class="vote-button" type="button"
                  onclick="this.readOnly=true;
                  for (let node of this.parentNode.childNodes){
                      node.readOnly=true;
                  }
                  this.style.display = 'none';" >Vote</button>
</div></div>
{% endfor %}
<br>
{{ voteform.submit() }}
</form>
{% endblock %}

{% block scripts %}
    <script>
        const denominators = document.querySelectorAll('.vote-den')
        for (let denominator of denominators) {
            denominator.addEventListener('input', function(){
                for (let d of denominators) {
                    if (d.readOnly===false) {
                        d.value = denominator.value;
                    }
                }
            })
        }
    </script>
{% endblock %}
